

{#<!DOCTYPE html>#}
{#<html>#}
{#<head>#}
{#	<title>Login</title>#}
{#     <link rel="stylesheet" href="/form.css">#}
{#</head>#}
{#<body>#}
{#	<h1><center>LOGIN</center></h1>#}
{#	<form method="post">#}
{#        {% csrf_token %}#}
{##}
{#		<table align="center">#}
{#			<tr>#}
{#				<th>Username:</th>#}
{#				<td><input type="text" name="uname"></td>#}
{#			</tr>#}
{#			<tr>#}
{#				<th>Password:</th>#}
{#				<td><input type="Password" name="pswd"></td>#}
{#			</tr>#}
{#			<tr>#}
{#				<th></th>#}
{#				<td><input type="submit" name="logbtn" value="LOGIN"></td>#}
{#			</tr>#}
{#			#}
{#		</table>#}
{#		#}
{#	</form>#}
{##}
{#</body>#}
{#</html>#}
{#{% endblock %}#}


{% extends 'temp/home.html' %}
{% block base %}
 <div class="container-fluid bg-primary my-5 py-5">
       <div class="container py-5">
         <div class="row gx-5">

             <center>
                <div class="col-lg-6">
                    <div class="bg-white text-center rounded p-5">
                        <h1 class="mb-4">LOGIN</h1>
                      <form method="post">
                          {% csrf_token %}
                            <div class="row g-3">


                               <div class="col-12 col-sm-20">
                                  <input type="text"  name="uname" class="form-control bg-light border-0" placeholder="Username" style="height: 55px; >
                               </div>
                              <div class="col-12 col-sm-20">
                                  <input type="password" name="pswd" class="form-control bg-light border-0" placeholder="Your Password" style="height: 55px; >
                             </div>
{#
                              <div class="col-12">
                                  <button class="btn btn-primary w-100 py-3" type="submit">Login</button>
                              </div>
                           </div>
                     </form>
                    </div>
                </div>
             </center>
            </div>
        </div>
    </div>
    {% endblock %}